@model CMS_SYSTEM.Models.UserWebsites

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserWebsites</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
