@model IEnumerable<CMS_SYSTEM.Models.UserWebsites>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomainUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.isDeleted == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DomainUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebsiteName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="Open" asp-route-id="@item.Id">Open</a>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
